<!DOCTYPE html>
<html>
  <head>
    <title>Whiterose</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="max-h-screen dark:bg-gray-800">
    <div class="flex justify-center">
      <% if flash.key?(:notice) %>
        <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 m-4 rounded relative ma-" role="alert">
          <span class="block sm:inline"><%= flash.notice %></span>
        </div>
      <% end %>
      <% if flash.key?(:alert) %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 m-4 rounded relative ma-" role="alert">
          <span class="block sm:inline"><%= flash.alert %></span>
        </div>
      <% end %>
    </div>

    <%= link_to root_path do %>
      <%= image_tag 'logo.webp', class: 'm-auto dark:hidden' %>
      <%= image_tag 'logo_dark.webp', class: 'm-auto hidden dark:block' %>
    <% end %>

    <%= yield %>
  </body>
</html>
